@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
  font-family: Sahel;
  src: url("assets/fonts/Samim/sahel.eot");
  src: url("assets/fonts/Samim/sahel.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/Samim/sahel.woff") format("woff"),
    url("assets/fonts/Samim/sahel.ttf") format("truetype");
  font-weight: normal;
}
/* You can add global styles to this file, and also import other style files */
* {
  font-family: Sahel;
  direction: rtl;
  text-align: right;
  z-index: 1000 !important;
}

html,
body {
  height: 100%;
  background-color: #f8f9fa;
}
body {
  margin: 0;
}
.p-datatable > .p-datatable-wrapper {
  overflow: hidden;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: #e7e7e7;
  border-style: inset;
  border-width: 1px;
  //padding: 7px !important;
}
