<div class="card">
  <label class="ml-5" for=""
    >کل مبلغ بستانکاری : (
    <span style="color: darkgreen"> {{ sumDebtor | number }} </span>
    ) تومان</label
  >
  <label> &nbsp; | &nbsp; </label>
  <label
    >کل مبلغ بدهکاری : (
    <span style="color: crimson"> {{ sumCreditor | number }} </span>
    ) تومان</label
  >
  <p-table [columns]="cols" [value]="transactions">
    <ng-template pTemplate="header" let-columns>
      <tr>
        @for (col of columns; track col) {
        <th>
          {{ col.header }}
        </th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns>
      <tr>
        <td>{{ columns.id }}</td>
        <td>{{ columns.amount | number }}</td>
        <td>{{ columns.description }}</td>
        <td>{{ columns.transaction_Date | jalali }}</td>

        @if (columns.isClearing) {
        <td>پاک نشده</td>
        } @else {
        <td>پاک شده</td>
        } @if (columns.isDebtor) {
        <td>بدهکار</td>
        } @else {
        <td>بستانکار</td>
        }

        <td>{{ columns.created_Date | jalali }}</td>
        <td>{{ columns.updated_Date | jalali }}</td>
        <td>{{ columns.userId }}</td>
        <td>{{ columns.users }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
